name: Build and deploy Vite React to Azure Web App - QualityManagementSystem

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node 22
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: npm

      - name: Install + Build
        run: |
          npm ci
          npm run build

      - name: Create deploy.zip from dist
        run: |
          cd dist
          zip -r ../deploy.zip .
          cd ..

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: deployzip
          path: deploy.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: deployzip

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'QualityManagementSystem'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_E4C578308D314A03BBBC3C3894798F05 }}
          package: deploy.zip
